# Maven / Build

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs

*.log

# Compiled files

*.class

# Spring Boot

*.jar
*.war
*.ear

# IDE - IntelliJ

.idea/
*.iml

# IDE - VS Code

.vscode/

# OS files

.DS_Store
Thumbs.db

# Environment variables

.env

# Maven Wrapper (opcional manter)

# Se quiser ignorar:

# .mvn/

# mvnw

# mvnw.cmd

# Test output

surefire-reports/
